<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header') %>
	<body>
		<%- include('./partials/nav')%>
		<header></header>
		<main>
			<%- include('./partials/banner') %>
			<form action="/candidate" method="post">
				<label for="candidateType">Candidate Type: </label>
				<select name="candidateType" id="candidateType">
					<option value="true">Passed Candidates</option>
					<option value="false">Failed Candidates</option>
				</select>
				<button type="submit">Get Data</button>
			</form>
			<% if (locals.candidateData) { %>
			<table>
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Car Make</th>
						<th>Car Model</th>
						<th>Car Year</th>
						<th>Car Plate Number</th>
						<th>Test Type</th>
						<th>Test Result</th>
						<% if (candidateData.length > 0 &&
						candidateData[0].testResult.result == true) { %>
						<th>Create License</th>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% candidateData.forEach(row => { %>
					<tr>
						<td><%= row.firstName %></td>
						<td><%= row.lastName %></td>
						<td><%= row.age %></td>
						<td><%= row.carDetails.make %></td>
						<td><%= row.carDetails.model %></td>
						<td><%= row.carDetails.year %></td>
						<td><%= row.carDetails.plateNo %></td>
						<td><%= row.testType.toUpperCase() %></td>
						<td>
							<% if(row.testResult.result) { %> Passed <% } else {
							%>Failed <% } %>
						</td>
						<% if (row.testResult.result == true) { %>
						<td><button>Print License</button></td>
						<% } %>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<% } %>
		</main>
		<%- include('./partials/footer') %>
	</body>
</html>
