<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header') %>
	<body>
		<%- include('./partials/nav')%>
		<header></header>
		<main>
			<%- include('./partials/banner') %>
			<section class="personal-info">
				<form action="/gTest" method="post">
					<h2>Personal Details:</h2>
					<label for="firstname">First Name:</label>
					<input
						type="text"
						name="firstname"
						id="fname"
						placeholder="First Name"
						value="<%= searchedData.firstName %>"
						disabled
					/>
					<label for="lastname">Last Name:</label>
					<input
						type="text"
						name="lastname"
						id="lname"
						placeholder="Last Name"
						value="<%= searchedData.lastName %>"
						disabled
					/>
					<label for="age">Age:</label>
					<input
						type="text"
						name="age"
						id="age"
						placeholder="Eg: 24"
						value="<%= searchedData.age %>"
						disabled
					/>

					<section class="car-info">
						<h2>Car Details:</h2>
						<label for="make">Make:</label>
						<input
							type="text"
							name="make"
							id="make"
							placeholder="Make"
							value="<%= searchedData.carDetails.make %>"
						/>
						<label for="model">Model:</label>
						<input
							type="text"
							name="model"
							id="model"
							placeholder="Model"
							value="<%= searchedData.carDetails.model %>"
						/>
						<label for="year">Year:</label>
						<input
							type="text"
							name="year"
							id="year"
							placeholder="1998"
							value="<%= searchedData.carDetails.year %>"
						/>
						<label for="plate">Plate Number:</label>
						<input
							type="text"
							name="plate"
							id="plate"
							placeholder="12345"
							value="<%= searchedData.carDetails.plateNo %>"
						/>
					</section>
					<label for="appointment-date">Appointment Date</label>
					<input
						type="date"
						name="appointmentDate"
						id="appointment-date"
						value="<%= searchedData.appointment.date %>"
						disabled
					/>
					<label for="appointment-time">Appointment Time</label>
					<select
						name="appointmentTime"
						id="appointment-time"
						disabled
					>
						<!-- holder -->
						<% if (searchedData.appointment.time) { %>
						<option value="<%= searchedData.appointment.time %>">
							<%= searchedData.appointment.time %>
						</option>
						<% } %>
					</select>
					<button>Submit</button>
				</form>
			</section>
		</main>
		<%- include('./partials/footer') %>
	</body>
</html>
